<h2>Editing {{ tshirt.sku }}</h2>

<table>
  <tr>
    <th>Size</th>
    <th>Style</th>
    <th>Colour</th>
    <th>Price</th>
  </tr>
  <tr>
    <td><select ng-model="tshirt.size" ng-options="size for size in sizes" ng-change="save()"></select><br></td>
    <td><select ng-model="tshirt.style" ng-options="style for style in styles" ng-change="save()"></select><br></td>
    <td><input ng-model="tshirt.colour" ng-change="save()"></td>
    <td><input ng-model="tshirt.price" ng-change="save()"></td>
  </tr>
</table>

<h4>Summary</h4>
<textarea ng-model="tshirt.summary" ng-change="save()"></textarea>

<a href="/tshirtlist">Back to list</a>